*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "montserrat",sans-serif;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*height: 64px;*/
    margin-right: 24px;
}
.navbar ul li{
    display: inline-block;
    align-items: right;
    justify-content: space-around;
}
.logo{
    display: flex;
    align-items: left;
}
.logo h1{
    font-size: 32px;
    color: black;
}
.nav-link{
    color: #787878;
}
header{
    min-height: 100vh;
    padding-top: 7rem;
    background: url(/Resources/Images/header-bg.jpg) center/cover no-repeat;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-title h1{
    font-size: 2.8rem;
    letter-spacing: 2px;
}
.header-title p{
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.7;
}
.header-form{
    background: rgba(0, 0, 0, 0.5);
    padding: 3rem;
    border-radius: 0.2rem;
}
.header-form h3{
    font-size: 1.2rem;
}
.header-form form{
    flex-direction: column;
    margin-top: 1.8rem;
}
.header-form .btn{
    margin-top: 0.8rem;
}
#services{
    background: url(/Resources/Images/services-bg.jpg) center/cover no-repeat;
}
#services *{
    color: rgb(255, 255, 255);
}
.services-item{
    text-align: center;
    padding: 2rem 0.5rem;
    margin: 2rem 0;
}
.services-icon{
    font-size: 3rem;
}
.services-item h3{
    margin: 1rem 0;
    font-size: 2rem;
}
.services-item .btn{
    margin-top: 1.6rem;
    display: inline-block;
}

html, body{
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
}
a{
    color: black;
    text-decoration: none;
}
.featured-item{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.featured-item::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.featured-row, .services-row, .footer-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.featured-item-content{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: #fff;
    width: 100%;
    padding: 1rem;
}
.featured-item-content span{
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1.2rem;
    text-transform: capitalize;
}
.featured-item-content .text{
    color: #fff;
}
.container{
    max-width: 1320px;
    padding: 0 1rem;
    margin: 0 auto;
}
.about-right .text{
    margin-bottom: 1rem;
}
.about-right h2{
    margin-bottom: 2.5rem;
}
.test-row, .about-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
#facts{
    background: url(/Images/facts-img.jpg) center/cover no-repeat;
    min-height: 80vh;
}
.facts-row{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    gap: 2rem;
}
.title-wrap{
    text-align: center;
    padding: 1.4rem 0;
    margin-bottom: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.lg-title{
    font-size: 1.8rem;
}
.sm-title{
    display: block;
    color: #787878;
    font-weight: 300;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    max-width: 450px;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.7;
}
.my-2{
    margin: 2rem 0;
}
#facts .title-wrap{
    color: #fff;
}
#facts .sm-title{
    color: #fff;
}
.facts-item{
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.facts-icon{
    font-size: 3.2rem;
}
.facts-info strong{
    font-size: 2rem;
    display: block;
    margin: 1rem 0;
}
.facts-info .text{
    text-transform: uppercase;
}
footer{
    background-color: black;
    color: #fff;
    text-align: center;
    position: relative;
}
footer::before{
    content: "";
    position: absolute;
    background-color: green;
    height: 4px;
    top: 0;
    left: 0;
    width: 100%;
}
footer .site-brand{
    margin-bottom: 1.5rem;
    display: block;
    font-size: 2rem;
}
.footer-item{
    margin: 3rem 0;
}
.footer-item a{
    font-size: 1.2rem;
    color: #fff;
}
.footer-item a:hover{
    color: green;
}
.footer-item ul{
    padding: 0;
}
.footer-item h2{
    margin-bottom: 1.4rem;
}
.social-links{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
}
.social-links li{
    margin: 0.5rem;
    padding: 20px;
}
.contact-form .form-control{
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    display: block;
    margin: 1.6rem auto;
}
.contact-form .btn{
    display: block;
    margin: auto;
}
.contact-icon{
    color: rgb(0, 0, 0);
    width: 60px;
    height: 60px;
    margin: 1rem auto;
    font-size: 2rem;
}
.contact-item{
    text-align: center;
    margin: 3rem 0;
    display: flex;
    margin-top: 0;
}
.contact-item div span{
    font-weight: 600;
    font-family: "Ralway", sans-serif;
    font-size: 1.2rem;
    display: block;
    margin-bottom: 1rem;
}
.contact-row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.contact-icon{
    width: 45px;
    height: 45px;
    font-size: 1.4rem;
    margin: 0 1rem;
}